/* ======================================================
   ENCABEZADO DE COLUMNAS
====================================================== */
.exercise-header {
  display: grid;
  grid-template-columns: 55px minmax(0, 1fr) 70px minmax(0, 1fr) 55px;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 20px;
}

.column-header {
  text-align: center;
  color: #398900;
}

.exercise-list {
  width: 100%;
}

/* ======================================================
   CADA FILA
====================================================== */
.exercise-pair {
  display: grid;
  grid-template-columns: 55px minmax(0, 1fr) 70px minmax(0, 1fr) 55px;
  align-items: center;
  gap: 15px;
  min-height: 85px;
  margin-bottom: 12px;
  padding: 12px 20px;
  border: 2px solid #dce8d0;
  border-radius: 18px;
  background: white;
}

/* ======================================================
   NÚMERO
====================================================== */
.exercise-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #67b70f;
  color: black;
  font-weight: bold;
}

/* ======================================================
   COLUMNA DE PALABRA
====================================================== */
.word-section {
  display: flex;
  justify-content: center;
  min-width: 0;
}

.letter-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
}

/* ======================================================
   LETRAS VISIBLES
====================================================== */
.visible-letter,
.visible-letter1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* width: 38px; */
  height: 45px;
  font-size: 24px;
  font-weight: bold;
  text-transform: lowercase;
}

/* ======================================================
   ESPACIOS PARA ESCRIBIR
   OPTIMIZADO PARA PC, TABLET Y CELULAR
====================================================== */
.letter-input {
  width: 60px;
  height: 50px;

  min-height: 48px;
  flex-shrink: 0;
  box-sizing: border-box;

  display: inline-block;
  padding: 0;
  margin: 0;

  text-align: center;
  font-size: 23px;
  font-weight: bold;
  line-height: normal;

  border: none;
  border-bottom: 3px solid #555;
  outline: none;

  background: #f5f5f5;
  border-radius: 5px 5px 0 0;

  cursor: text;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* ======================================================
   INPUT SELECCIONADO
====================================================== */
.letter-input:focus {
  border-bottom-color: #1976d2;
  background: #e3f2fd;
}

/* ======================================================
   FLECHA CENTRAL
====================================================== */
.pair-arrow {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #398900;
}

/* ======================================================
   RESPUESTAS
====================================================== */
.letter-input.correct-letter {
  background: #e8f5e9;
  border-bottom-color: #4caf50;
  color: #2e7d32;
}

.letter-input.wrong-letter {
  background: #ffebee;
  border-bottom-color: #e53935;
  color: #c62828;
}

/* ======================================================
   PAREJA COMPLETADA
====================================================== */
.completed-pair {
  background: #f1f8e9;
  border-color: #67b70f;
}

.completed-icon {
  text-align: center;
  font-size: 25px;
}

/* =========================================================
   RESPONSIVE - TABLET
   ========================================================= */
@media (max-width: 1200px) {

  .exercise-header{
    grid-template-columns: 45px minmax(0, 1fr) 60px minmax(0, 1fr) 45px;
    gap: 10px;
  }

  /* ---------------------------------------------------------
     CADA PAREJA SE ORGANIZA VERTICALMENTE
     --------------------------------------------------------- */
  .exercise-pair {
    display: grid;
    grid-template-columns: 35px minmax(0, 1fr) 35px;
    grid-template-areas:
      "number left status"
      ". arrow ."
      ". right .";
    width: 100%;
    min-height: auto;
    padding: 14px 8px;
    margin-bottom: 14px;
    gap: 7px;
    border-radius: 18px;
  }

   /* FLECHA */
  .pair-arrow {
    grid-area: arrow;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    transform: rotate(90deg);
    margin: 2px 0;
    font-size: 25px;
  }

  /* PAREJA */
  .right-word {
    grid-area: right;
  }

  .letter-input {
    font-size: 25px;
  }

  .visible-letter,
  .visible-letter1 {
    height: 40px;
    width: 18px;
  }
}

@media (max-width: 900px) {

  .exercise-header {
    grid-template-columns: 40px minmax(0, 1fr) 45px minmax(0, 1fr) 40px;
    gap: 8px;
  }

  .letter-row {
    gap: 3px;
  }

  .pair-arrow {
    font-size: 30px;
  }

  .visible-letter,
  .visible-letter1 {
    height: 38px;
    width: 15px;
  }
}

/* ======================================================
   PANTALLAS PEQUEÑAS
====================================================== */
@media (max-width: 800px) {
  .exercise-header {
    grid-template-columns: 30px minmax(0, 1fr) 35px minmax(0, 1fr) 30px;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .result-statistics {
    flex-direction: column;
  }

  /* Número */
  .pair-number {
    grid-area: number;
    align-self: start;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  /* VERBO */
  .left-word {
    grid-area: left;
  }

  /* Estado correcto */
  .pair-status {
    grid-area: status;
    align-self: start;
    text-align: center;
  }

  /* ---------------------------------------------------------
     PALABRAS
     --------------------------------------------------------- */
  .word-section {
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letter-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: nowrap;
  }
}

/* =========================================================
   RESPONSIVE - CELULAR
   ========================================================= */
@media (max-width: 600px) {

  /* ---------------------------------------------------------
     LETRAS
     --------------------------------------------------------- */
  .visible-letter{
    width: 5px;
  }

  .visible-letter1 {
    width: 15px;
    height: 45px;
  }

  .letter-input {
    width: 40px;
    height: 50px;
    min-height: 50px;

    padding: 0;
    text-align: center;

    font-size: 23px;
    touch-action: manipulation;
  }
}

/* =========================================================
   CELULARES MUY PEQUEÑOS
========================================================= */
@media (max-width: 350px) {

  .exercise-pair {
    grid-template-columns: 28px minmax(0, 1fr) 28px;
    padding: 12px 4px;
  }

  .letter-row {
    gap: 1px;
  }

  .visible-letter,
  .visible-letter1 {
    width: 18px;
    height: 42px;
  }

  .letter-input {
    width: 48px;
    height: 48px;
    min-height: 48px;

    padding: 0;
    font-size: 22px;
    text-align: center;
  }
}

/* =========================================================
   ESTADO / ESTADÍSTICAS DEL JUEGO
========================================================= */

/* =========================================================
   MENSAJE CAMBIO DE PANTALLA
========================================================= */
.changing-page-message {
  width: fit-content;
  margin: 15px auto;
  padding: 10px 18px;
  background: #f1f8e9;
  border: 1px solid #cde5ba;
  border-radius: 20px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

/* =========================================================
   ESTADÍSTICAS DEL RESULTADO
========================================================= */
.result-statistics {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 15px;
  margin: 22px 0;
}
